/* ---------- Paramètres généraux ---------*/

body, html {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  overflow-y: hidden
  }



/*----- Ecriture -----*/

h1{
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  font-size: 1.8em;
  text-align: center;
  vertical-align: middle;
	}

  p{
  	margin: 0;
  	}

/*---------- En-tête ----------*/

header {
	background-color: #484848;
  color: #FFFFFF;
  height: 10vh;
  }


#topbtn{
  color: #FFFFFF;
  font-style: italic;
  position: absolute; /*Bouton retour sur la page d'acceuil - Sauf sur le page d'acceuil*/   
	}


/* ---------------Page index --------------*/
/*---------- Section de la page ----------*/

section {
	display: flex;
	flex-direction: column;
	height: 84.0vh;
	background-color:#C9C9C9;
	}

#section_img {
	display: flex;
	flex-direction: column;
  background-repeat: no-repeat;
	height: 84vh;
  background:url(Images/O7MF5N0.jpg) -25px -50px;
  z-index: 0;
  background-size: calc(125% + 50px);
	}


#bienvenue {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 25vh;
  color: rgba(255, 255, 255, 0.9);;
  font-family: 'Muli', sans-serif;
  font-size: 4.5em;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  }

#bar_verte{
  background-color: #28B485;
  height:0.5vh;
  }

/*----- Section page d'acceuil -----*/

#boutons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
	}

.bouton{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: 0.55;
  font-weight: bold;
  font-family: 'Alegreya', serif;
  font-size: 1em;
  background-color: white;
  text-decoration: none;
  border: 2px solid #28B485;
  height: 15vh;
  width: 15vh;}
.bouton:hover {
    background-color: #28B485;
    opacity: 1;
    border: 2px solid white;}
.bouton:active{
  background-color: #1A7753;
  }

/*---------Pied de page ---------*/

footer {
	background-color: #484848;
	color: white;
	height: 6vh;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding-right: 2vh;
    font-style: italic;
	}

  a {padding: 0;
    color: blue;
    text-decoration: none;}

#lien_github {
	color: white;
	padding: 2vh;
  font-style: italic;
	}
#lien_github:hover {text-decoration: underline;}




